<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr><td>
    <h2>Mission & Vision</h2></tr>
    <tr>
        <td><p><span style="padding-left:15px;" class="style7">Main Objectives :</span></p></td>
    </tr>
    <tr>
        <td height="52">
            <ul>
                <li class="style3">To conduct examination and offer diploma certificates</li>
                <li class="style3">To ensure internationally recognized healthcare services</li>
                <li class="style3">Since the establishment it offered LMF, MMF, LDS, Compunder and Dresser, Nurse and Midwife courses</li>
                <li class="style3">From 1962 offering paramedical courses</li>
                <li class="style3">From 1976 offering Medical Assistant Training course</li>
                <li class="style3">Between 1979-83 offered Palli Chitikshaks course </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td valign="top" height="37"><span style="padding-left:15px;" class="style7">Future Planning:</span></td>
    </tr>
    <tr>
        <td>
            <ul>
                <li class="style3"> Preparation and implementation of policies and guidelines to comply with the present need; as the Bengal Medical Act 1914 which was amended in 1949 as Bengal Amendment (East Bengal Amendment) act is not sufficient to meet the current needs. A primary draft has been already prepared addressing this issue. </li>

                <li class="style3">Increase the capacity of the existing institutions by ensuring qualified and sufficient teachers and support staffs, modern equipments, furniture and others essential items; which will eventually provide more available seat for students to enroll.</li>
                <li class="style3">Observations of the affiliated institutions to ensure quality on the basis of inspection reports.</li>
                <li class="style3">Revise and implement the policy guidelines through updating in establishing health technology institutes in the private sector.</li>
                <li class="style3">To affiliate the private institutions administer the joint inspection committee including the representatives from MOHFW, DGHS and SMF.</li>
                <li class="style3">In case any institutions repeatedly fails to maintain satisfactory performance, SMF will take necessary actions either to stop the relevant course or the institution. </li>
                <li class="style3">Publish annual academic activities (including academic calendar) by all affiliated institution.</li>
                <li class="style3">Prepare and implement policy and guidelines by all the institutions to ensure the quality of teachers and staffs </li>
                <li class="style3">Form a National Accreditation Committee to provide accreditations for SMF courses to achieve international standard. </li>
                <li class="style3">Its essential to form a new governing body as soon as the duration of the old committee expires. </li>
                <li class="style3">Different complexities arises if delays occurs in reformation.</li>
                <li class="style3">Conclusion: Only by producing proper, trained and sufficient medical technologist a valid and strong contribution can be made to ensure the quality of healthcare services  for the country.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    </tbody></table>