<h2>Organogram</h2>
<p>The State Medical Faculty organized with an Honorary President and sixteen members of the Governing Body. The
    organisation has a total sanction of 26 regular posts of which 3 posts are in Class-1, 2 in Class II, 12 in Class
    III and 9 in Class-IV.</p>