<div>
    <h2>Contact Us</h2>

    <div class="row">
        <h3>Our Location</h3>

        <div class="col-lg-6">
            Main Campus,<br>
            BNS Center<br>
            Plot # 87(13th Floor),<br>
            Sector-7,<br>
            Dhaka
        </div>

        <div class="col-lg-6">
            Mymensingh Road,<br>
            Uttara,<br>
            Dhaka-1230,<br>
            Bangladesh"
        </div>

        <div class="col-lg-12"> Campuses Darul Ihsan University,Savar</div>
    </div>
    <div class="row">
        <div id="google-map" >
            <map center="23.7925472, 90.370228" zoom="15">
                <info-window id="1" position="23.7925472, 90.370228" visible="true">
                    <div>Darul Ihsan University
                    </div>
                </info-window>
            </map>
        </div>
    </div>

</div>