<div id="body_home">
    <div id="first_txt">
        <h2>Introduction</h2>
        <p align="justify" style="padding-right:8px; text-align:justify;" class="style5">The <span class="style2">State Medical Faculty of Bangladesh</span> was established  in 1914 for the purpose of holding examinations and awarding diplomas to L.M.F.  and M.M.F doctors. After partition of Bengal in 1947, The  State Medical Faculty of East Pakistan was created for the same purpose. Subsequently  compoundership, Dresscrship, Para-medical Technicians, Medical Assistant and  Palli Chikitshak courses have been introduced and this Faculty has been holding  examinations and awarding diplomas and certificates to the successful  candidates.</p>
        <a href="index.php?action=abt_us"></a></div>
    <div id="body_home">
        <h2>Allocation of Functions</h2>
        <ul class="img_list1">
            <li class="style5">
                <p align="justify">To prescribe syllabi for Medical Assistants, Palli  Chikitshaks and all kinds of Technicians namely, Health and Sanitary, Laboratory  Medicine, Radiology &amp; Imaging, Dentistry, Sanitary Inspec-torship,  Physiotherapy, Rediotherapy, Occupational therapy.</p>
            </li>
            <li class="style5">
                <div align="justify">To lay down standard of teaching of the student by  Government institutions conducting approved courses of studies, including  practical training and field work.</div>
            </li>
            <li class="style5">To hold preliminary and final examinations twice a year  in the courses of studies of the above categories of students.</li>
        </ul>

    </div>
    <div id="body_home">
        <h2> Mission & Vision </h2>
        <ul>
            <li class="style5">From 1962 offering paramedical courses</li>
            <li class="style5">From 1976 offering Medical Assistant Training course</li>
            <li class="style5">Between 1979-83 offered Palli Chitikshaks course </li>
        </ul>
    </div>
</div>