<div class="navbar-wrapper" ng-controller="navigationController">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="" ui-sref-active="active"><a ui-sref="index">Home</a></li>
                    <li class="dropdown" >
                        <a ui-sref="about" ui-sref-active="active" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" >About Us<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active="active"><a ui-sref="about.missionvision">Mission & Vision</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ui-sref="about.organogram">Organogram</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ui-sref="about.duties">Charter of Duties</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ui-sref="about.manpower">Manpower</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ui-sref="about.acknowledgement">Acknowledgement</a></li>
                        </ul>
                    </li><li class="dropdown" >
                        <a ui-sref="about" ui-sref-active="active" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" >Students<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active="active"><a ui-sref="students.eligibility">Admission Eligibility</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ui-sref="students.notice">Notice Board</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ui-sref="students.news">News & Events</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Courses<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="courses.offered">Offered Courses</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ui-sref="courses.examschedule">Exam Schedule</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ui-sref="courses.curriculum">Course Curriculum</a></li>
                        </ul>
                    </li>
                    <li><a ui-sref="affiliates">Affiliated Institutes</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Results<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="results.transcript">Online Transcript</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ui-sref="results.summary">Result Summary</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Forms & Publications <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="forms">Forms</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ui-sref="forms.publications">Publications</a></li>
                        </ul>
                    </li>
                    <li><a ui-sref="contact">Contact Us</a></li>

                    <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>

</div>
