<div id="left_file">
    <div id="notice">
        <div> <a href="index.php?action=notice_details"><h2>Notice</h2></a>
        </div>
        <div id="maq">
            <marquee scrollamount="3" direction="up" onmouseout="this.scrollAmount=4" onmouseover="this.scrollAmount=0">
                <ul class="img_list">


                </ul>
            </marquee>
        </div>
        <p align="right" id="more"><a href="index.php?action=notice_details">More...</a></p>
    </div>
    <div id="news">
        <div> <a href="index.php?action=event_details"><h2>News</h2></a>
            <marquee direction="up" onmouseout="this.scrollAmount=4" onmouseover="this.scrollAmount=0" scrollamount="4" loop="infinite">
                <ul class="img_list">
                    <span class="style5"><a href="admin/news/simattacker.php">lkh</a></span><p style="margin:0; padding:0 0 7px 0; text-align: right; color:#000000">Date: 2015-08-26</p><span class="style5"><a href="admin/news/jy.php5">ljc</a></span><p style="margin:0; padding:0 0 7px 0; text-align: right; color:#000000">Date: 2015-08-26</p>                        </ul>
            </marquee>
            <p align="right" style="font-size:14px;" id="more"><a href="index.php?action=event_details">More...</a></p>
        </div>
        <div id="bangla"> </div>
    </div>
</div>