<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<!--<script src="/bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>-->
<script src="/bower_components/ngmap/build/scripts/ng-map.js"></script>

<script src="/app.js"></script>

<script src="/controllers/navigationController.js"></script>
<script src="/controllers/contactController.js"></script>
<script src="/controllers/mainController.js"></script>
<script src="/controllers/loginController.js"></script>

<script src="/routes/index.js"></script>