<div class="col-lg-12">
    <div>
        &nbsp;
        <hr>
        &nbsp;
    </div>
    <div class="col-lg-12">
        <div class="col-lg-3">
            <div class="row"><a ui-sref="index">Home</a></div>
            <div class="row"><a ui-sref="about.missionvision">Mission & Vision</a></div>
            <div class="row"><a ui-sref="about.organogram">Organogram</a></div>
            <div class="row"><a ui-sref="about.duties">Charter of Duties</a></div>
            <div class="row"><a ui-sref="about.manpower">Manpower</a></div>
            <div class="row"><a ui-sref="about.acknowledgement">Acknowledgement</a></div>
        </div>

        <div class="col-lg-3">

            <div class="row"><a ui-sref="students.eligibility">Admission Eligibility</a></div>
            <div class="row"><a ui-sref="students.notice">Notice Board</a></div>
            <div class="row"><a ui-sref="students.news">News & Events</a></div>
            <div class="row"><a ui-sref="courses.offered">Offered Courses</a></div>
            <div class="row"><a ui-sref="courses.examschedule">Exam Schedule</a></div>
            <div class="row"><a ui-sref="courses.curriculum">Course Curriculum</a></div>
        </div>

        <div class="col-lg-3">
            <div class="row"><a ui-sref="affiliates">Affiliated Institutes</a></div>

        </div>

        <div class="col-lg-3">
            <div class="row"><a ui-sref="results.transcript">Online Transcript</a></div>
            <div class="row"><a ui-sref="results.summary">Results Summary</a></div>
            <div class="row"><a ui-sref="forms">Forms &amp; Publications</a></div>
            <div class="row"><a ui-sref="forms.publications">Publications</a></div>
            <div class="row"><a ui-sref="contact">Contact Us</a></div>
        </div>
    </div>


    <div>
        &nbsp;
        <hr>
        &nbsp;
    </div>

    <div class="footer-bottom">
        <div class="">
            <div class="row">

                <div class="col-sm-4 text-left">
                    Powered by MEAN Stack
                </div>

                <div class="col-sm-4 text-center">
                    Copyright &copy; 2015 Darul Ihsan University.<br> All rights reserved.
                </div>

                <div class="col-sm-4 text-right">
                    Designed &amp; Developed by <a href="mailTo:saifbuet@gmail.com">Saif</a> </span>
                </div>


            </div>
        </div>
    </div>


</div>