/*body {
  /!*padding: 50px;*!/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container{
  background-color: rgba(31, 254, 53, 0.06);
  /!*background-color: #1FFE35;*!/
}*/

a {
  color: #00B7FF;
}

#google-map{
  width: 100%;
  height: auto;
  background-color: #CCC;
}

/*
div.container{
  padding: 15px;
}
*/
