{% extends '../layouts/common.html' %}

{% block title %}My Page{% endblock %}


{% block head %}
{% parent %}

{% include '../includes/head.html' %}
{% endblock %}



{% block content %}
<div ng-app="myApp">

    <div class="container" ng-controller="mainController">
        <div class="container-fluid">
            <div class="page-bg">
                {% block header%}
                {% include '../includes/header.html' %}
                {% endblock %}
                <div ng-include="'views/login-modal.html'"></div>
                <div ng-include="'views/carousel.html'"></div>
                <div ui-view="navigation"></div>
                <div class="row">
                    <div class="" style="padding:0px 15px 0px 15px"><a data-toggle="modal" data-target="#myModal" href="#">Login</a></div>
                </div>
                <div class="col-lg-9">
                    <div ui-view="content"></div>
                </div>
                <div class="col-lg-3">
                    <div ui-view="side"></div>
                </div>
                {% block footer %}
                {% include '../includes/footer.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block foot %}
{% include '../includes/foot.html' %}
{% endblock %}